html {
/*
  display: flex;
  justify-content: center;
*/
  font-family: Open Sans;
  background: black;
}

.center-content {
  display: flex;
  justify-content: center;
}

body {
  background-color: aliceblue;
  width: 600px;
}
